body {
background-image:url("fond.jpg");
background-size:cover;
}

.container
{
margin-top:30px;
}

h1 {
	font-size:30px;
	font-family:Arial, sans serif;
	color:white;
	font-weight:bold;
}

#mot {
border:2px solid black;

}

#mot td {
	background-color:white;
	border:2px inset black;
	width:30px;
	height:30px;
	font-weight:bold;
	font-size:1.5em;
	text-align:center;
}

 #mot p{
	visibility:hidden;
}

#clavier{
  padding:10px;
	border-radius:15px;
  width:100%;
}

#clavier li {
	background-color:white;
	list-style:none;
  display:inline;
  padding:5px;
	border-radius:5px;
}


.lien a{
	color:white;
	text-decoration:none;
	font-size:20px;
}

.lien a:hover{
	color:white;
	font-weight:bold;
	text-decoration:underline;
}

lien a:active {
color:white;
}

img.pendu 
{
border-radius:25%;
width:50%;
border:3px solid black;
}

